{% extends "_layout/index.html.twig" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>{{proj_name}}  Details</h1>
	</div>
	<div class="container">
		<div class="row">
			
		</div>
	</div>
{% endblock %}

{% block foot %}
	{{ parent() }}
{% endblock %}