{% extends "_layout/index.html.twig" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>'{{device.name}}' Program</h1>
	</div>
	<ol class="breadcrumb">
		<li>
			<a href="/dashboard"><i class="fa fa-dashboard"></i>  Dashboard</a>
		</li>
		<li class="active">
			<a href="/devices"><i class="fa fa-list"></i> Devices</a>
		</li>
		<li class="active">
			<i class="fa fa-code"></i> Program
		</li>
	</ol>
	<!-- <div class="container"> -->
		<div class="row">
			<div class="col-sm-12">

				<style>
					.blockly {
						width: 100%;
						/*height: 100%;*/
						border-style: solid;
						border-color: #ddd;
						border-width: 0 1px 1px 0;
						margin-bottom: 10px;
					}
				</style>
				<div id="content">
					<iframe class="blockly" id="blockly" src="{{static}}/blockly/index.html"></iframe>
				</div>

			</div>
		</div>
		<div class="row text-right" style="margin-top: 10px;">
			<div class="col-sm-12">
				<button class="btn btn-danger">Discard</button>
				<button class="btn btn-success">Save</button>
			</div>
		</div>
	<!-- </div> -->
{% endblock %}

{% block foot %}
	{{ parent() }}
	<script>
		function blocklyLoaded(blockly) {
			// Called once Blockly is fully loaded.
			window.Blockly = blockly;
			console.log("Blockly Loaded!");
		}
		/**
		 * Make the #content element fill the remaining horizontal space
		 * @param  {int} fudge fudge factor
		 */
		function adjContentHeight (fudge) {
			if (typeof fudge == 'undefined') {
				fudge = 0;
			};
			var content = $('#content');
			// content.height(500); //This seems to fix a resize glitch
			var newheight = $(window).height() - content.offset().top - $('footer').height();
			newheight = newheight - parseInt(content.css('padding-top')) - parseInt(content.css('padding-bottom')) + fudge;
			content.height(newheight);
			$('#blockly').height(0).height("100%"); //This seems to fix a resize glitch
		}
		$(window).resize(function() {
			adjContentHeight(-110);
		}).resize();
	</script>

{% endblock %}